*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.img-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;}

footer {
    background-color: #eb3713;
}

.fotos {width:400px;
    height: 400px;
}
